* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
     background: linear-gradient(
    150deg,
    rgba(34, 197, 94, 0.349) 0%,
    rgba(6, 26, 6, 0.137) 40%,
    rgb(0, 0, 0) 100%
  );
    background-color: var(--color-bg);
    
  }

:root {
--color-bg: #0d1117;
  --color-card: #161b22;
  --color-border: #2d333b;
  --color-text: #ffffff;
  --color-text-secondary: #9ca3af;
  --color-green: #22c55e;
  --color-red: #f43f5e;
}
/* :root {
  --color-bg: #0d1117;
  --color-card: #161b22;
  --color-border: #2d333b;
  --color-text: #ffffff;
  --color-text-secondary: #9ca3af;
  --color-primary: #22c55e;
  --color-danger: #f43f5e;
} */
.screen-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h2,
label,
p,
button {
  color: var(--color-text);
  overflow: hidden;


}
a {
  color: var(--color-green);
}
button {
  border-color: var(--color-green);
  background-color: var(--color-green);
  border: 0;
  padding: 5px 15px;
  border-radius: 7.5px;
  width: 100%;
  height: 2em;
  font-size: 1.3em;
}
button:hover {
  cursor: pointer;
  color: var(--color-text-secondary);
}
form {
  background-color: var(--color-card);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-family: 'Inter';
  border: var(--color-border) 1px solid;
  padding: 20px 20px;
  min-height: 300px;
  gap: 10px;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Inter';
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
input {
  width: 100%;
  height: 3em;
  background-color: var(--color-bg);
  color: var(--color-text);
  border-radius: 5px;
  border: 1px var(--color-border) solid;
  padding: 10px 20px;
  outline: var(--color-border);
}
label {
  align-items: start;
  color: var(--color-text-secondary);
}
input:focus {
  outline: none;
}
@media (max-width: 480px) {
  /*format smartphone */

  form {
    width: 90%;
    height: 60%;
  }
}

@media (min-width: 481px) and (max-width: 835px) {
  /*format tablette */

  form {
    width: 60%;
    height: 40%;
  }
}

@media (min-width: 836px) and (max-width: 2000px) {
  /*format pc */

  form {
    min-width: 30%;

    height: 40%;
  }
}
